// @import '/css/static/printStyle.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --brand-green: #60cf5e;
    --brand-blue: #003661;
    --brand-lightgreen: #f0f4eb;
    --comfortea: "Comfortaa", sans-serif;
    --dark-background: rgba(31, 40, 55, 1.000);
    --dark-text: #f0f4eb;
  }