/* Variables and mixins declared here will be available in all other SCSS files */

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
    --brand-green: #2181b3;
    --brand-blue: #003661;
    --brand-lightgreen: #f0f4eb;
    --brand-light: #f0f4eb70;
    --comfortea: "Comfortaa", sans-serif;
    --dark-background: rgba(31, 40, 55, 1.000);
    --dark-text: #f0f4eb;
  }